<a href="https://colab.research.google.com/github/Vishalvermaimv/Vishalvermaimv/blob/main/hakerrank_assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#PROBLEM 1 : FIND THE AVERAGE OF ONE PERSON IN TWO DIGIT DESIMAL

if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    k = []
    if query_name in student_marks.keys():
        k=student_marks[query_name]
        avg=sum(k)/len(k)
        print("{:.2f}".format(avg))

In [ ]:
# PROBLEM 2:
def split_and_join(line):
    # write your code here
    x =line.split(" ")
    y ="-".join(x)
    return y
if __name__ == '__main__':
    line = input()
    result = split_and_join(line)
    print(result)

In [13]:
#PROBLEM 3: 
n = 5
for i in range(1,6):
  for j in range(1,i+1):
    print("*",end="")
  print("\n")

*

**

***

****

*****

In [14]:
for i in range (5,0,-1):
  for j in range(1,i+1):
    print("#" ,end="")
  print("\n")

#####

####

###

##

#

In [16]:
for i in range(1,6):
  for j in range(1,6-i):
    print(" ",end="")
  for k in range(1,i+1):
    print("*",end="")
  print("\n")

    *

   **

  ***

 ****

*****

In [17]:
for i in range(5,0,-1):
  for k in range(1,6-i):
    print(" ",end="")
  for j in range(1,i+1):
    print("#",end="")
  print("\n")

#####

 ####

  ###

   ##

    #

In [18]:
for i in  range(1,6):
  for k in range(1,6-i):
    print(" ",end="")
  for j in range(1,(2*i-1)+1):
    print("*",end="")
  print("\n")

    *

   ***

  *****

 *******

*********

In [19]:
for i in range(5,0,-1):
  for k in range(1,6-i):
    print(" ",end="")
  for j in range(1,(2*i-1)+1):
    print("*",end="")
  print("\n")

*********

 *******

  *****

   ***

    *

In [ ]:
class Movie:
  def __init__(self):