<a href="https://colab.research.google.com/github/Vishalvermaimv/Vishalvermaimv/blob/main/practice_notes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
fact=1
num=int(input("enter the number: "))
for i in range (1,num+1):
  fact=fact*i
print(fact)

enter the number: 5
120

In [20]:
num=int(input("enter the number: " ))
fact=1
i=1
while i<(num+1):
  fact=fact*i
  i=i+1
print(fact)

enter the number: 4
24

In [24]:
sum=0
num=int(input("enter the number"))
for i in range(num+1):
  sum=sum+i
print(sum)

enter the number10
55

In [26]:
i=0
sum=0
num=int(input("enter the number: "))
while i<=num:
  sum=sum+i
  i=i+1
print(sum)

enter the number: 10
55

In [33]:
num=int(input("enter the number: "))
for i in range(num+1):
   if i==4:
    print("break encounter")
    break
   print(i)

enter the number: 7
0
1
2
3
break encounter

In [36]:
num1=int(input("enter the num: "))
num2=int(input("enter the number: "))
for i in range(num1+1):
  for j in range(num2+1):
    if j==2:
      print("break encounter")
      break
    print("i value is ",i ,j)

enter the num: 3
enter the number: 3
i value is  0 0
i value is  0 1
break encounter
i value is  1 0
i value is  1 1
break encounter
i value is  2 0
i value is  2 1
break encounter
i value is  3 0
i value is  3 1
break encounter

In [40]:
cart=[100,200,300,400,500]
for item in cart:
  if item>=400:
    print("we cant purchesh this item")
    break
  print(item)

100
200
300
we cant purchesh this item

In [42]:
num=int(input("enter the number: "))
for i in range(num+1):
  if i==4:
    print("continue encounter")
    continue
  print(i)

enter the number: 5
0
1
2
3
continue encounter
5

In [44]:
num1=int(input("enter the number: "))
num2=int(input("enter the number: "))
for i in range (num1+1):
  for j in range (num2+1):
    if j==2:
      print("continue encounter")
      continue
    print("i value is " , i ,j)

enter the number: 3
enter the number: 3
i value is  0 0
i value is  0 1
continue encounter
i value is  0 3
i value is  1 0
i value is  1 1
continue encounter
i value is  1 3
i value is  2 0
i value is  2 1
continue encounter
i value is  2 3
i value is  3 0
i value is  3 1
continue encounter
i value is  3 3

In [52]:
cart=[100,200,300,400,500]
for item in cart:
  if item==400:
    print("item we can purchashe")
    continue
  print(item)

100
200
300
item we can purchashe
500

In [58]:
x="198"
for i in (x):
  y=int(i)%10
  print(y)

1
9
8

In [61]:
x=[1,2,3,4,5,5]
len(x)

6

In [71]:
x="vishal verma"
for i in x:
  print(i)

v
i
s
h
a
l

v
e
r
m
a

In [76]:
x=str(input("enter the number: "))
y=str(x)
print(len(y))

enter the number: vishal verma
13

In [77]:
x=int(input("enter the number"))
count=0
while x!=0:
  x=x//10
  count=count+1
print(count)

enter the number787
3

In [79]:
num=int(input("enter the the number: "))
sum=0
m=num
while num!=0:
  new=num%10
  print(new)
  sum=sum+(new**3)
  print("sum is ", sum)
  print("num is " ,num)
  num=num//10
print(num)
print("original number is ",m)
if m==sum:
  print("armstrong number")
else:
  print("not armstring number")

enter the the number: 153
3
sum is  27
num is  153
5
sum is  152
num is  15
1
sum is  153
num is  1
0
original number is  153
armstrong number